<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWorkLabel" jhiTranslate="fixItApp.work.home.createOrEditLabel">Create or edit a Work</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!work.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="work.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fixItApp.work.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="work.time"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.time?.dirty && editForm.controls.time?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.time?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.time?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fixItApp.work.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="work.description" required />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fixItApp.work.asap" for="field_asap">Asap</label>
            <input type="checkbox" class="form-control" name="asap" id="field_asap"
                [(ngModel)]="work.asap"  />
            <div [hidden]="!(editForm.controls.asap?.dirty && editForm.controls.asap?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.asap?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fixItApp.work.state" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="work.state" id="field_state"  required>
                <option value="ORDERED" jhiTranslate="fixItApp.WorkState.ORDERED">ORDERED</option>
                <option value="SCHEDULED" jhiTranslate="fixItApp.WorkState.SCHEDULED">SCHEDULED</option>
                <option value="FINISHED" jhiTranslate="fixItApp.WorkState.FINISHED">FINISHED</option>
                <option value="FAILED" jhiTranslate="fixItApp.WorkState.FAILED">FAILED</option>
                <option value="CANCELED" jhiTranslate="fixItApp.WorkState.CANCELED">CANCELED</option>
                <option value="IN_PROGRESS" jhiTranslate="fixItApp.WorkState.IN_PROGRESS">IN_PROGRESS</option>
            </select>
            <div [hidden]="!(editForm.controls.state?.dirty && editForm.controls.state?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.state?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="fixItApp.work.worker" for="field_worker">Worker</label>
            <select class="form-control" id="field_worker" name="worker" [(ngModel)]="work.worker" >
                <option [ngValue]="null"></option>
                <option [ngValue]="workerOption.id === work.worker?.id ? work.worker : workerOption" *ngFor="let workerOption of workers; trackBy: trackWorkerById">{{workerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="fixItApp.work.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" [(ngModel)]="work.customer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id === work.customer?.id ? work.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="fixItApp.work.address" for="field_address">Address</label>
            <select class="form-control" id="field_address" name="address" [(ngModel)]="work.address" >
                <option [ngValue]="null"></option>
                <option [ngValue]="addressOption.id === work.address?.id ? work.address : addressOption" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="fixItApp.work.worktype" for="field_worktype">Worktype</label>
            <select class="form-control" id="field_worktype" name="worktype" [(ngModel)]="work.worktype" >
                <option [ngValue]="null"></option>
                <option [ngValue]="workTypeOption.id === work.worktype?.id ? work.worktype : workTypeOption" *ngFor="let workTypeOption of worktypes; trackBy: trackWorkTypeById">{{workTypeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
