
<div *ngIf="work">
    <h2><span jhiTranslate="fixItApp.work.detail.title">Work</span> {{work.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fixItApp.work.time">Time</span></dt>
        <dd>
            <span>{{work.time | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="fixItApp.work.description">Description</span></dt>
        <dd>
            <span>{{work.description}}</span>
        </dd>
        <dt><span jhiTranslate="fixItApp.work.asap">Asap</span></dt>
        <dd>
            <span>{{work.asap}}</span>
        </dd>
        <dt><span jhiTranslate="fixItApp.work.state">State</span></dt>
        <dd>
            <span jhiTranslate="{{'fixItApp.WorkState.' + work.state}}">{{work.state}}</span>
        </dd>
        <dt><span jhiTranslate="fixItApp.work.worker">Worker</span></dt>
        <dd>
            <div *ngIf="work.worker">
                <a [routerLink]="['/worker', work.worker?.id]">{{work.worker?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fixItApp.work.customer">Customer</span></dt>
        <dd>
            <div *ngIf="work.customer">
                <a [routerLink]="['/customer', work.customer?.id]">{{work.customer?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fixItApp.work.address">Address</span></dt>
        <dd>
            <div *ngIf="work.address">
                <a [routerLink]="['/address', work.address?.id]">{{work.address?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fixItApp.work.worktype">Worktype</span></dt>
        <dd>
            <div *ngIf="work.worktype">
                <a [routerLink]="['/work-type', work.worktype?.id]">{{work.worktype?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'work/'+ work.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
