
<div *ngIf="work">
    <h2><span jhiTranslate="fixItApp.work.detail.title">Work</span> {{work.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fixItApp.work.time">Time</span></dt>
        <dd>
            <span>{{work.time | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="fixItApp.work.description">Description</span></dt>
        <dd>
            <span>{{work.description}}</span>
        </dd>
        <dt><span jhiTranslate="fixItApp.work.asap">Asap</span></dt>
        <dd>
            <span>{{work.asap}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'work/'+ work.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
